.box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
text-decoration: none;
cursor: pointer;
  }
  .push {
      margin-left: 60%;
  }
  .x {
    display: flex;
    flex-direction: column;
    align-items: flex-start;}
    .drp {
      width: 320px;
       height:500px;
       overflow:auto;
     }
