<div class="box p-2"><!--bg-teal-500  p-6-->
    <p-sidebar [(visible)]="display" [style]="{'backgroundColor':'rgb(241, 250, 252)'}">
      <div style="width:100%;background-color: #43cebb;color:white;height:50px">
          <h2 style="padding: 10px;">Navigation</h2>
      </div>
     <div class="p-2"> <i class="pi pi-user p-2"></i> <a [routerLink]="['../home']" class="x" style="font-size: 1.5em; text-decoration: none;" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-teal ">
      Accueil
  </a></div>
      <hr>
    <a *ngIf="role=='P'" [routerLink]="['../ListeHopital']" style="font-size: 1.5em;" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-teal mr-4">
        Prise de rendez-vous
      </a><hr>
     <a *ngIf="role=='M'" [routerLink]="['../priseRdvMed']" style="font-size: 1.5em;" class="block mt-4 lg:inline-block lg:mt-0 text-black-200 hover:text-teal mr-4">
        Prise de rendez-vous
      </a>
     </p-sidebar>
   <div style="float:right;margin-left: 30px;">
    <i class="pi pi-list mt-4 lg:inline-block" (click)="affiche()" style="font-size: 2em;cursor: pointer;color:#43cebb"></i>
    <button pButton pRipple style="background-color: #43cebb;margin-left: 30px;" [routerLink]="['../Home']" label="Cims" type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>

   </div>
    <div class="push">
        <div class="text-sm lg:flex-grow">
            <button pButton pRipple [hidden]= "auth" style="background-color: #43cebb;" [routerLink]="['../loginAncien']" label="Se connecter" type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>
            <button pButton pRipple [hidden]= "auth" style="background-color: #43cebb;" [routerLink]="['../signUp']" label="Creer un compte" type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>
      <!--<a [hidden]= "auth" [routerLink]="['../signUp']" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Creer un compte 
      </a>-->
    
   <!--[label]="msg"-->
   <button pButton  (click)="verifprofil()" pRipple [hidden]= "test" style="background-color: #43cebb;" label="Profil" type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>
   <button pButton  (click)="logout()" pRipple [hidden]= "test" style="background-color: #43cebb;" icon="pi pi-user" type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>

  </div>
</div>
