
<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

  <div style="width: 100%;margin-top:10px" class=" container main-body">

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center"><!--https://bootdey.com/img/Content/avatar/avatar7.png-->
                  <img src="../../assets/user.jpg" alt="Admin" class="rounded-circle" width="150">

                  <div class="mt-3" *ngIf="role=='P'">
                    <h4>{{user.nom_pren_benef}} {{user.pren_benef}} </h4>
                    <p class="text-secondary mb-1"> {{user.sexe}} </p>
                    <p class="text-muted font-size-sm">Né le {{user.date_nai_benef | date: 'dd/MM/yyyy'}} </p>
                    <!--<button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3" style="height: 30vh;">
               <div class="wizard">
                <nav class="list-group list-group-flush">
                  <button class="underlineHover list-group-item" *ngIf="role=='M'" [routerLink]="['/listPat']">
                    <div class="d-flex justify-content-between align-items-center">
                        <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                          <div  class=" d-inline-block font-weight-medium text-uppercase">liste des patients</div>
                        </div><!--<span class="badge badge-secondary">6</span>-->
                    </div>
                </button>
                    <button type="button" class="underlineHover list-group-item" *ngIf="role=='P'" [routerLink]="['/historique']">
                      <div class=" d-flex justify-content-between align-items-center">
                          <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                            <div *ngIf="role=='P'" class="d-inline-block font-weight-medium text-uppercase">Historique des paiements </div>
                          </div><!--<span class="badge badge-secondary">6</span>-->
                      </div>
                  </button>
                    <!--<button class="list-group-item underlineHover" (click)="editer()"><i class="fe-icon-user text-muted"></i>Parametre du profile</button>-->
                    <button type="button" class="underlineHover list-group-item" *ngIf="role!='A'" [routerLink]="['/listRdv']">
                        <div class=" d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase" >Liste des rendez-vous</div>
                            </div><!--<span class="badge badge-secondary">3</span>-->
                        </div>
                    </button>
                    <!--<a class="list-group-item" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">My Tickets</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>-->
                </nav>
            </div>
            </div>
          </div>
          <div class="col-md-8">
            <p-toast position="top-right"></p-toast>

            <div class="card mb-3" >
              <div class="card-body">
  <!--<p-messages [style]="{width: '280px','float':'right'}" [value]="msgs"></p-messages>-->
  <h1>Liste des patients </h1>
</div>
<div class="content-section implementation" [ngStyle]="{'margin-top':'10px'}">

  <p-confirmDialog appendTo="body" [style]="{width: '50vw'}"></p-confirmDialog>
  <div style="margin: 10px;"  class="center">
    <!--<button type="button" pButton icon="pi pi-plus" iconPos="left" label="Ajouter une fiche" style="float: right;background-color: #43cebb;"[disabled]="selectedPat==null"  (click)="add(selectedPat)"></button>-->
    <button type="button" pButton [ngStyle]="{'height':'40px','width':'50px'}" icon="pi pi-pencil" iconPos="left"
      class="bg-warning" style="float: left;" [disabled]="selectedPat==null" (click)="select(selectedPat)"></button>
    <button type="button" pButton [ngStyle]="{'height':'40px','width':'50px'}" icon="pi pi-trash" iconPos="left"
      [disabled]="selectedPat==null" class="bg-danger" (click)="confirm2(selectedPat)" style="float: left;"></button>
    <i class="pi pi-search" [ngStyle]="{'height':'40px','width':'20px','margin-left':'33%','margin-top':'1.5%'}"></i>
    <input pInputText size="50" [ngStyle]="{'height':'40px','float':'right'}" placeholder="Chercher une fiche..." type="text" name="searchTerm"
      (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
  </div>

  <p-table [columns]="cols" [value]="patients" #tt sortField="{'nom_pren_benef','pren_benef'}" dataKey="_id"
    selectionMode="single" [(selection)]="selectedPat" [paginator]="true" [rows]="5" [totalRecords]="120"
    [rowsPerPageOptions]="[5,10,25,50,100]">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [ngStyle]="{'width':'40px'}"></th>
        <th [pSortableColumn]="nom_pren_benef">Nom du patient</th>
        <th [pSortableColumn]="email" [ngStyle]="{'width':'250px'}">Prenom du patient</th>
        <th [pSortableColumn]="tel_benef">Telephone</th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-patient let-expanded="expanded" let-columns="columns">
      <tr [pSelectableRow]="patient">
        <td>
          <a href="#" [pRowToggler]="patient">
            <!--(click)="showFiche(patient)"-->
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td>{{patient.nom_pren_benef}}</td>
        <td>{{patient.pren_benef}} </td>
        <td>{{patient.gsm}} </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-patient let-columns="columns">
      <tr>
        <td [attr.colspan]="4">
          <h3><i class="pi pi-user"></i> Détails de <span style="color: #43cebb;">{{patient.nom_pren_benef}}
              {{patient.pren_benef}}</span></h3>
          <div class="ui-g ui-fluid" style="font-size:16px;" [@rowExpansionTrigger]="'active'">
            <div class="ui-g-6 ui-md-6" >
              <h4>FICHE DU PATIENT</h4>

              <div style="padding:10px" class="ui-g">
                <div class="ui-g-12">
                  <b style="color: #43cebb;"><i class="pi pi-info-circle"></i> Medicament: </b> {{patient.medicament}}
                </div>
                <div class="ui-g-12">
                  <b style="color: #43cebb;"><i class="pi pi-pencil"></i> Maladie:</b> {{patient.maladie}}
                </div>
                <div class="ui-g-12">
                  <b style="color: #43cebb;"><i class="pi pi-file"></i> Rapport:</b> {{patient.rapport}}
                </div>
              </div>

            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>

</div>
</div>
</div>

<app-footer></app-footer>

<div *ngIf="isup">
  <app-modif-fiche [fiche]="fiche" (onChange)="modif(fiche)"></app-modif-fiche>
</div>

<div *ngIf="upp">
  <app-ajouter-fiche [rdv]="rdv"></app-ajouter-fiche>

