<app-navbar></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div style="
float: left;width: 100%;
background: url(../../../assets/med.jpeg);
background-repeat: no-repeat;
background-size: cover; height: 100%;">
<div style="float: left;width: 50%;margin:10%;">

<h1 style="text-align: center;font-weight: bold;">Vous avez deja un <span style="color: teal;">compte</span> ?</h1>
<hr/>
<form  #f="ngForm"  (ngSubmit)="Submit(f)">
    <div style="margin: 10px;text-align:center;">
        <p-radioButton name="sexe" value="M" [(ngModel)]="sexe"></p-radioButton>Medecin
        <p-radioButton name="sexe" value="A" [(ngModel)]="sexe"></p-radioButton>Pharmacien
       </div>
       <div class="col-md-12 block" style="width: 100%;margin:10px">
        <input class="itm col-md-6 lg:inline-block lg:mt-0" name="email" [(ngModel)]="email"  type="email" placeholder="email"  style="width: 40%; "/>
        <input class="itm col-md-6 lg:inline-block lg:mt-0" name="password" [(ngModel)]="password" type="password" placeholder="password"  style="width: 40%;margin-left:50% ;"/>
      </div>
       <mat-form-field appearance="fill" style="width: 100%; margin-left:35px;">
      <mat-label>Choisir un hopital</mat-label>
      <mat-select   [(ngModel)]="selDmn" name="cod_hop">
        <mat-option *ngFor="let hopital of hopitals" [selected]="hopital.nom_hop" value="{{hopital.cod_hop}}">
          {{hopital.nom_hop}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button pButton pRipple type="submit" label="S'authentifier" style="width: 50%;margin-left: 25%;background-color: #FFC909;" class=" p-button-rounded"></button>
</form>
</div>
</div>
