<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div style="margin:5%;">
  <h1 style="margin-top: 10px;margin-left: 70px; ">Décaler votre rendez-vous</h1>
  <p-toast position="top-right"></p-toast>

  <div class="container" style=" background-color: rgb(168, 211, 211);">
    <p-card style="margin-top: 20px; ">
      <p-toast position="top-right"></p-toast>
      <form #f="ngForm" (ngSubmit)="Submit(f,benef)">
        <!--patient-->
        <div style="margin:2%;height:auto">
          <h5
            style="font-weight: bold; font-size: 24px;color:#43cebb; font-family: Arial, Helvetica, sans-serif;text-align: center;margin-top: 2%;">
            Choisissez une date et heur disponible </h5>
          <div style="display: flex;margin-top:3%;">
            <img src="../../assets/rdv.jpg" style="width: 40%;height: 35%;float: left;" />
            <p-calendar style="float: right;margin-left: 10%;margin-top: 4%;" name="date_rdv" [(ngModel)]="date"
              (click)="affiche(date)" [inline]="true" [showWeek]="true"></p-calendar>
            <input type="hidden" name="endTime" [(ngModel)]="date" />

          </div>
          <div [hidden]=test class="row">
            <mat-form-field appearance="fill" style="width: 50%; padding: 15px;margin-left: 45%;">
              <mat-label>Choisissez l'heure du rendez-vous</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                <mat-option *ngFor="let heur of tab " [value]="heur">
                  {{heur}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div style="float: right;margin:10px">
              <button pButton pRipple style="background-color: #43cebb;float: right; margin-left: 980px;" pButton pRipple
                class="text-black button-raised button-text p-button-rounded" type="submit" label="Confirmer"
                icon="pi pi-check"></button>
            </div>

          </div>
        </div>

      </form>
    </p-card>
  </div>
</div>
<div *ngIf="isup">
  <app-imprimer-recu [rdv]="rdv"></app-imprimer-recu>
</div>
<app-footer></app-footer>
