<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div class="view" style="background-image:  url('/assets/med1.jpg') ; background-repeat: no-repeat; background-size: cover;margin-top: 0;height:60vh;">

  <!-- Mask & flexbox options-->
  <div class=" d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div style="font-family: Lucida handwriting;" class="text-center text-white mx-5 wow fadeIn">
      <div style="margin-top: 15%;">
      </div>
      <h1 class="mb-4 d-none d-md-block">
        <strong>Bienvenue.</strong>
      </h1>
      <h2 >La pharmacie virtuelle vous Aide a avoir une visibilité sur les medicaments disponible dans notre hopital
      </h2>
    </div>

  </div>

</div>

<main>
  <div class="container">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg  lighten-3 mt-3 mb-5">
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <div style="width: 90%;margin-top: 10px">
          <mat-form-field appearance="fill" style="width: 90%;margin-top: 10px">
            <mat-label>Choisissez le nom du l'hopital</mat-label>
            <mat-select [(ngModel)]="searchText" name="hop">
              <mat-option *ngFor="let hopital of hopitals" (click)="selecthop(hopital.cod_hop)"  value="{{hopital.cod_hop}}">
                {{hopital.nom_hop}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <form class="form-inline">
          <div class="md-form my-0">
            <input size="20" class="form-control mr-sm-2 bg-white box-shadow" style="border-radius: 15px;padding: 10px;margin-top: 7%;" type="text" placeholder="Chercher nom..." name="search" [(ngModel)]="searchText"  aria-label="Search" />
          </div>
        </form>
      </div>

    </nav>
    <!--/.Navbar-->
    <h1>Liste des medicaments de l'hopital {{hop}} </h1>

      <section class="text-center mb-4">
        <div class="row wow fadeIn">

          <div  *ngFor="let item of medics | filter : searchText : 'nom_medic','cod_hop'" class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card" style="height:100%;">
              <input type="hidden" value=" {{item.cod_hop}} " />
              <div style="height:60%;" class="view overlay">
                <img style="height: 200px;" [src]="'http://localhost:3000/uploads/'+item.img_medic" class="card-img-top" alt="" />
              </div>

              <div style="height:270px" class="card-body text-center">
                <a class="grey-text">
                  <h3>  <strong>{{item.nom_medic}}</strong></h3>
                </a>
                <h5 style="height:120px;">
                    <a  class="dark-grey-text">{{item.desc_medic}}
                    </a>
                </h5>
                <h4  style="height:50px;" class="font-weight-bold blue-text">
                  <p *ngIf="item.quantite==0" style="padding:5px" class="badge badge-pill danger-color">Hors Stock</p>
                    <p *ngIf="item.quantite!=0" style="padding:5px;color: white;" class="badge badge-pill success-color">Disponible </p>
                                 </h4>

              </div>
            </div>
            <!--Card-->

          </div>


        </div>

      </section>

    <!--Pagination-->
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">

        <!--Arrow left-->
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <li class="page-item active">
          <a class="page-link" href="#">1
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <!--Pagination-->

  </div>
</main>
<!--Main layout-->

<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->











<!--<app-navbar></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="view" style="background-image:  url('/assets/medd.jpg') ; background-repeat: no-repeat; background-size: cover;">

        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

          <div style="margin-top: 10px;" class="text-center white-text mx-5 wow fadeIn">

            <h1 class="mb-4 d-none d-md-block">
              <strong>Bienvenue.</strong>
            </h1>

            <h2  class="btn btn-outline-white btn-lg">La pharmacie virtuelle vous Aide a avoir une visibilité sur les medicaments disponible dans notre hopital
              <i class="fas fa-graduation-cap ml-2"></i>
            </h2>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<main>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <mat-form-field appearance="fill" style="width: 80%;margin-top: 10px">
          <mat-label>Choisissez le nom du l'hopital</mat-label>
          <mat-select  [(ngModel)]="codhop" >
            <mat-option *ngFor="let hopital of hopitals" [selected]="hopital.nom_hop"  (input)="tt.filterGlobal($event.target.value, 'contains')"  value="{{hopital.nom_hop}}">
              {{hopital.nom_hop}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Recherche"  (input)="tt.filterGlobal($event.target.value, 'contains')"  aria-label="Search">
          </div>
        </form>
      </div>

    </nav>

    <p-table  [value]="medics" #tt [globalFilterFields]="['nom_medic','quantite']"  dataKey="_id" editMode="row" [paginator]="true" [rows]="3"  [totalRecords]="120" [rowsPerPageOptions]="[3,10,25,50,100]">
      <ng-template pTemplate="body" let-product class="text-center col-lg-12">
          <div class="col-lg-4 col-md-6 ">

            <div class="card">

              <div class="view overlay">
                <img src="{{product.img_medic}} " class="card-img-top" alt=""/>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <a href="" class="grey-text">
                  <h5> {{product.nom_medic}} </h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text"> {{product.desc_medic}}
                      <span *ngIf="product.quantite==0" class="badge badge-pill danger-color">Hors Stock</span>
                      <span *ngIf="product.quantite!=0" class="badge badge-pill danger-color">Disponible</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>Quantité : {{product.quantite}} </strong>
                </h4>

              </div>
          </div>
        </div>

    </ng-template>
    </p-table>

  </div>
</main>

<app-footer></app-footer>
-->
