<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

  <div  style="background-repeat: no-repeat;background-size: cover; width: 100%; height: 800px; background-color: rgb(241, 250, 252)">
    <div class="container add">
    <div style="font-family:Open Sans,Arial, Helvetica, sans-serif;">
      <p-toast position="top-right"></p-toast>
      <h1 style="font-weight: bold; padding: 15px;">Payer Votre Consultation!</h1>
  </div>

  <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
    <mat-step label="Information" matStepperIcon="edit">
<div *ngIf="rdv.length==0"> <h1>Vous n'avez aucune consultation a payer</h1></div>
    <p-table *ngIf="rdv.length!=0" [value]="rdv" dataKey="nom_pren_benef">
      <ng-template pTemplate="header">
       <tr>
        <th [ngStyle]="{'width':'40px'}"></th>
                              <th >Nom du Patient</th>
                              <th  [ngStyle]="{'width':'250px'}">Date Rendez-vous</th>
                              <th >Heure</th>
                              <th >Rendez-vous à payer</th>



       </tr>

   </ng-template>

    <ng-template pTemplate="body" let-rdvs let-expanded="expanded" >
       <tr>
       <td >
       <a href="#" [pRowToggler]="rdvs">
       <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
       </a>
       </td>
       <td>{{user.nom_pren_benef}} {{user.pren_benef}}</td>
       <td>{{rdvs.date_rdv}} </td>
       <td >{{rdvs.heure_rdv}} </td>
       <td><button class="btn w-25 border shadow" required style="background-color:  #FFC909;margin-left: 20%;" matStepperNext (click)="passrdv(rdvs)" >Payer</button></td>



        </tr>
     </ng-template>
    <ng-template pTemplate="rowexpansion" let-rdvs >

        <tr>
        <td [attr.colspan]="5"><h3 style="font-weight: bold; font-size: 24px; font-family: lucida hand Writing;"><i class="pi pi-user"></i> Détails de <span style="color: #43cebb; ">{{user.nom_pren_benef}} {{user.pren_benef}}</span> </h3>

        <div class="ui-g ui-fluid" style="font-size:16px;">
        <div style="padding: 10px;" class="ui-g-6 ui-md-6">
        <h4  style="color: #43cebb; font-weight: bold; font-size: 25px; font-family: lucida hand Writing; text-align: center;">INFORMATIONS DU RENDEZ-VOUS</h4>

        <div class="ui-g">
        <div class="ui-g-12" style=" padding: 10px; font-size: 20px;">
        <i class="pi pi-id-card"></i> <b>Nom de l'hopital: </b> {{rdvs.nom_hop}}
        </div>


        <div class="ui-g-12" style=" padding: 10px; font-size: 20px;">
          <i class="pi pi-home"></i><b>Ville:</b> {{rdvs.adr_hop}}
        </div>
        <div class="ui-g-12" style=" padding: 10px; font-size: 20px;">
        <i class="pi pi-id-card"></i><b>Nom médecin:</b> {{rdvs.nom_med}} {{rdvs.prenom_med}}
        </div>
        </div>

        </div>
        <div>
        <div class="ui-g">
        <div class="ui-g-12" style=" padding: 10px; font-size: 20px;">
        <i class="pi pi-check-circle"></i><b> Service : </b> {{rdvs.service }}
        </div>
        <div class="ui-g-12" style=" padding: 10px; font-size: 20px;">
          <i class="pi pi-phone"></i> <b> Téléphone:</b> {{rdvs.gsm}}

          </div>

        </div>
            </div>



       </div>
       </td></tr>

    </ng-template>
    </p-table>

    </mat-step>
    <mat-step  label="Paiement" state="thumb">

        <h2 style="color: #43cebb; font-weight: bold;font-size: 36px;">Paiement</h2>
        <form #f="ngForm" (ngSubmit)="Submit(f)" class="mb-5">
          <input type="hidden" name="etat" [(ngModel)]="eta" />
          <input type="hidden" name="cod_benef" [(ngModel)]="user.cod_benef" />

          <!--if soin!=null-->
           <div *ngIf="testsoin==true">
            <h3 style="color: black;font-weight: bold;text-align: center;">Confirmez vos informations</h3><br>

            <div class="form-group">
             <mat-form-field appearance="fill" style="width: 50%; padding: 10px;" >
              <mat-label>Choisir votre régime </mat-label>
              <mat-select   [(ngModel)]="reg" name="regime">
                <mat-option *ngFor="let montants of montant" (click)="calculerMontant(montants.montant)" [selected]="montants.type" value="{{montants.regime}}">
                  {{montants.type}}
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 50%; padding: 10px;" >
              <mat-label>Date de validité </mat-label>
              <input matInput name="date_valide" [(ngModel)]="soin.date_valide" />
            </mat-form-field>

          </div>


          <div class="form-group">
            <mat-form-field class="example-full-width"  style="width: 50%; height: 25px; padding: 10px;">
              <mat-label>Numéro assurance</mat-label>
              <textarea matInput [(ngModel)]="soin.num_assure" name="num_assure"  #asur="ngModel" minlength="8" ></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width"   style="width: 50%;  padding: 10px;">
              <mat-label>Numéro de carnet</mat-label>
              <textarea matInput [(ngModel)]="soin.num_carnet" name="num_carnet" #crn="ngModel" minlength="5"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="crn.invalid && crn.dirty "  class="alert alert-danger">
            <div *ngIf = "crn.invalid;">
              veillez saisir un numero de 5 charachteres
            </div>
             </div>
             <div *ngIf="asur.invalid && asur.dirty"  class="alert alert-danger">
              <div *ngIf = "asur.invalid;">
                veillez saisir un numero de 8 charachteres
              </div>
               </div>

          <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br><h4> {{somme}}</h4>
          <button style="background-color:  #FFC909;float:right" class="btn w-25 border shadow" type="submit" [disabled]="!f.valid" >Payer</button> <!--(click)="checkout()"-->
     </div>

     <!--if soin null-->
     <div class="container" [hidden]="testsoin" style="width: 50%;">

      <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>

     <div class="mb-6" style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;" required>
        <mat-label>Régime </mat-label>
        <mat-select   [(ngModel)]="reg" name="regime" #regi="ngModel" required>
          <mat-option *ngFor="let montants of montant" (click)="calculerMontant(montants.montant)" [selected]="montants.type" value="{{montants.regime}}">
            {{montants.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div [hidden]="!regi.errors?.required || regi.pristine"
      class="alert alert-danger">
      Veuillez saisir votre regime
      </div>
     </div>

  <div class="mb-6" style="width: 100%;">
      <label class=" block text-center text-gray-500 text-sm mb-2">
         Numero du carnet :
      </label>
      <input name="num_carnet" [(ngModel)]="numC" #car="ngModel" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
  </div>
  <div [hidden]="!car.errors?.required || car.pristine"
  class="alert alert-danger">
  Veuillez saisir le numero du carnet
  </div>

  <div class="mb-6" style="width: 100%;">
    <label class=" block text-center text-gray-500 text-sm mb-2">
       Date valide :
    </label>
    <p-calendar inputId="basic" name="date_valide" styleClass="dateTimeField" [(ngModel)]="dateV" required #dte="ngModel" inputStyle="width:200px"></p-calendar>
</div>
<div [hidden]="!dte.errors?.required || dte.pristine"
class="alert alert-danger">
Veuillez saisir la date de validité du carnet
</div>

    <div class="mb-6" style="width: 100%;">
      <label class=" block text-center text-gray-500 text-sm mb-2">
         Numero d'assurance :
      </label>
      <input name="num_assure" [(ngModel)]="numA" required #num="ngModel" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>

    </div>
  <div [hidden]="!num.errors?.required || num.pristine"
  class="alert alert-danger">
  Veuillez saisir le numero d'assurance
  </div>
<div>
    <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br><input name="montant_rdv" [(ngModel)]="somme" disabled/>
    <div  style="float: right;margin:10px">
      <button pButton pRipple type="submit" label="Payer" [disabled]="!f.valid" class="button-raised button-text text-black" style="background-color: #FFC909;"></button>
</div>
    <input type="hidden" name="cod_med" [(ngModel)]="rendezvous.cod_med" />
    <input type="hidden" name="nom_med" [(ngModel)]="rendezvous.nom_med" />
    <input type="hidden" name="prenom_med" [(ngModel)]="rendezvous.prenom_med" />
    <input type="hidden" name="nom_pren_benef" [(ngModel)]="rendezvous.nom_pren_benef" />
    <input type="hidden" name="pren_benef" [(ngModel)]="rendezvous.pren_benef" />
    <input type="hidden" name="tel_benef" [(ngModel)]="rendezvous.gsm" />

</div>

  </div>

        </form>

    </mat-step>

    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="thumb">
      <mat-icon>thumb_up</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>



</div>
</div>
<div *ngIf="isup">
  <app-imprimer-recu [rdv]="rendezvous"></app-imprimer-recu>
  </div>
<app-footer></app-footer>
