<app-navbar></app-navbar>
<hr style="border: 3px solid rgb(194, 194, 45);">
<header class="masthead text-white text-center" >
  <p-toast position="top-right"></p-toast>

        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5" style="color:black; opacity:1; font-family: lucida handwriting;margin-top: -100px; font-size:24px; font-weight: bold;">Prenez rapidement un rendez-vous avec votre médecin !</h1>
       <p style="color:black; margin-top:-20px; font-family: lucida handwriting; font-size:12px; font-weight: bold">Sélectionnez votre médecin, choisissez la date et
        heure de votre rdv et recevez votre sms/mail de
        confirmation. C’est aussi simple que ça !</p>
        <br/>
        <br/>
        <form>
         <div class="form-row">
           <div class="col-12 col-md-9 mb-2 mb-md-0">
             <input type="text" class="form-control form-control-lg" placeholder="Chercher un Medecin ? " [(ngModel)]="selDmn" name="search"> 
           </div>
           <div class="col-12 col-md-3">
             <button type="submit" class="btn btn-block btn-lg btn-primary">chercher</button>
           </div>
           <br/>
           <br/>
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Choisir</mat-label>
              <mat-select>
                <mat-option *ngFor="let medecin of medecins" [selected]="medecin.service" value="{{medecin.service}}" >
                  {{medecin.service}}
                </mat-option>
              </mat-select>
            </mat-form-field>
         </div>
       </form>
        </div>
  </header>

  <h1 class="title">{{selDmn}} Liste des Medecins </h1>
  <div class="row">
    <div class="col-md-6" *ngFor="let medecin of medecins">
       <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
             <h1 class="d-inline-block mb-2 text-primary"> Dr. {{medecin.nom_med}} {{medecin.prenom_med}}</h1>
           
             <h3>{{medecin.service}}</h3>
             <h2 class="card-text mb-auto" style="color: rgb(95, 93, 91);">{{medecin.specialite}}</h2>
             <a class="btn btn-outline-primary btn-sm" role="button" (click)="fixezrdv(medecin)">Fixer Rendez-vous</a>
          </div>
          <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="assets/doc.svg" style="width: 200px; height: 250px;">
       </div>
    </div>
   </div>



      <app-footer></app-footer>

    <!--  <mat-card class="example-card" *ngFor="let medecin of medecins">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> Dr. {{medecin.nom_med}} {{medecin.prenom_med}}</mat-card-title>
          <mat-card-subtitle>{{medecin.specialite}}</mat-card-subtitle>
          <h2 >{{medecin.service}}</h2>7<h3 (click)="fixezrdv(medecin)">fixer rdv</h3>
        </mat-card-header>
       
        <mat-card-content>
          <p>
         
          </p>
        </mat-card-content>
     
      </mat-card>


       <p-card header="Dr. {{medecin.nom_med}} {{medecin.prenom_med}}" subheader="{{medecin.specialite}}" style="width: 360px; " styleClass="p-card-shadow" *ngFor="let medecin of medecins">
      <ng-template pTemplate="header">
          <img alt="Card" src="assets/doc.jpg">
      </ng-template>
      <h3>{{medecin.service}}</h3>
   
      <ng-template pTemplate="footer">
        <p-button label="Fixer Rendez-vous" icon="pi pi-check" (click)="fixezrdv(medecin)"></p-button>
    </ng-template>
  </p-card>

       -->