<app-navbar></app-navbar>
<hr style="border: 3px solid rgb(194, 194, 45);">
<div style="
float: left;width: 100%;
background: url(../../../assets/med.jpeg);
background-repeat: no-repeat;
background-size: cover; height: 100%;">
<div style="float: left;width: 50%;margin:5%;">
  <a routerLink="/login">
    <h1>Medecin / Responsable ?</h1>
</a>
<h1 style="text-align: center;font-weight: bold;">Vous êtes un <span style="color: teal;">Ancien Patient</span> ?</h1>
<hr/>

<form  #f="ngForm"  (ngSubmit)="Submit(f)">
   <div style="width: 100%;">
    <input class="itm" name="email" [(ngModel)]="email"  type="email" placeholder="  email" style="width: 40%; margin-left:50% ;"/>
    <input class="itm" name="cod_benef" [(ngModel)]="cod_benef"  type="text" placeholder=" saisissez votre index" style="width: 40%; margin-top:-12% ;"/>
</div>
    <mat-form-field appearance="fill" style="width: 100%; margin-left: 20px;">
        <mat-label>Choisir</mat-label>
        <mat-select   [(ngModel)]="selDmn" name="cod_hop">
          <mat-option *ngFor="let hopital of hopitals" [selected]="hopital.nom_hop" value="{{hopital.cod_hop}}">
            {{hopital.nom_hop}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div  style="margin-left: 30%;">
      <p-button label="Envoyer mail de confirmation" (click)="notify()" class=" p-button-rounded"></p-button>
      </div>
        <div [hidden]="test">
           <div class="p-field p-col-12 p-md-4" style="color: grey; font-size: 15px;">
             <p>Merci de vérifier dans vos e-mailsque vous avez reçu un message avec votre code.
                 <br/> Celui-ci est composé de 6 chiffres.</p>
                 <p>Le code a ete envoyé avec succees à : {{email}}</p>
           </div>    
 <input class="itm" style="margin: 1%;" [(ngModel)]="confemail" name="code"  type="text" placeholder="   Entrez le code"/> 
 <h4 (click)="notify()" style="color:brown; margin-left:5%" class=" p-button-rounded" > Renvoyer le code </h4>
 <button pButton pRipple type="submit" label="S'authentifier" style="width: 50%;margin-left: 25%;" class=" p-button-rounded"></button>
   </div>
</form>
</div>
</div>
