.itm {
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
    margin:2%;
    font-size: 18px;
    background-color: rgb(209, 209, 209);
    padding: 15px;
    width: 20%;
}