<app-navbar></app-navbar>
<div class="container" style=" background-color: rgb(168, 211, 211);">
 
  <p-card style="margin-top: 30px; ">
   
        <div style="margin-left: 30%;">
            <h5 style="font-weight: bold; font-size: 24px;color: slateblue; font-family: Arial, Helvetica, sans-serif; margin-left: -40%;">Choisir une date : </h5>
            <p-calendar [(ngModel)]="date14" (click)="affiche()" [inline]="true" [showWeek]="true"></p-calendar>
            <div [hidden]=test>
                <mat-form-field appearance="fill" style="width: 100%;" >
                    <mat-label>Choisir</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="food">
                      <mat-option *ngFor="let food of foods" [value]="food.value" (click)="afficher()">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
          </div>
        </div>
        <div [hidden]=res>
            <div class="container" style="width: 50%;">
            <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>
            
          <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
              Nom : 
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
           

        
        <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
               Prénom : 
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>


           
          <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
               Numéro de téléphone : 
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
            <div  style="float: left; margin-left: 500px;">
            <button pButton pRipple type="button" label="Success" class="p-button-raised p-button-success p-button-text"></button>
        </div>
            <br/>
         <br/>
         <br/>

        </div>
        </div>
  </p-card>
</div>
  

<app-footer></app-footer>