<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div class="container" style=" background-color: rgb(168, 211, 211);margin:5%;">
 <div style="margin-top: 20px; ">
  <p-card >
    <p-toast position="top-right"></p-toast>
    <form #f="ngForm"  (ngSubmit)="Submit(f)">

        <!--patient--> 
        <div style="margin:2%;height:auto">
          <h5 style="font-weight: bold; font-size: 24px;color: rgb(40, 68, 67); font-family: Arial, Helvetica, sans-serif;text-align: center;">Choisir une date et heur disponible </h5>
          <div style="margin-left: 30%;">
            <p-calendar  name="date_rdv" [(ngModel)]="date" (click)="affiche(date)" [inline]="true" [showWeek]="true"></p-calendar>
          </div>
          <div [hidden]=test class="row">
            
            <input type="hidden" name="montant_rdv" [(ngModel)]="montant" />
            <input type="hidden" name="date_nai_benef" [(ngModel)]="user.date_nai_benef" />
            <input type="hidden" name="nom_pren_benef" [(ngModel)]="user.nom_pren_benef" />
            <input type="hidden" name="pren_benef" [(ngModel)]="user.pren_benef" />
            <input type="hidden" name="cod_benef" [(ngModel)]="user.cod_benef" />
            <input type="hidden" name="nom_med" [(ngModel)]="medecin.nom_med" />
            <input type="hidden" name="cod_med" [(ngModel)]="medecin._id" />
            <input type="hidden" name="prenom_med" [(ngModel)]="medecin.prenom_med" />
            <input type="hidden" name="service" [(ngModel)]="medecin.service" />
            <input type="hidden" name="specialite" [(ngModel)]="medecin.specialite" />
            <input type="hidden" name="etat" [(ngModel)]="eta" />
            <input type="hidden" name="gsm" [(ngModel)]="user.tel_benef" />
            <input type="hidden" name="nom_hop" [(ngModel)]="hop[0].nom_hop" />
            <input type="hidden" name="adr_hop" [(ngModel)]="hop[0].adr_hop" />
              <mat-form-field appearance="fill" style="width: 50%; padding: 15px;margin-left: 25%;" >
                  <mat-label>Choisissez l'heure du rendez-vous</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                    <mat-option *ngFor="let heur of tab " [value]="heur" (click)="afficher()">
                      {{heur}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
               
        </div>
      </div>

        <div [hidden]=res>
         
            <div class="container" *ngIf="testsoin==true" style="width: 50%;">
              
            <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>
            
         <!--<div class="mb-6" style="width: 100%;">
            <mat-form-field appearance="fill" style="width: 100%; padding: 15px;margin-left: 25%;" required>
              <mat-label>Régime </mat-label>
              <mat-select   [(ngModel)]="reg" name="regime">
                <mat-option *ngFor="let montant of montants" [selected]="montant.type" value="{{montant.regime}}">
                  {{montant.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
           </div>-->
         
           <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
               Régime : 
            </label>
            <mat-select   [(ngModel)]="reg" name="regime">
              <mat-option *ngFor="let montant of montants" [selected]="montant.type" value="{{montant.regime}}">
                {{montant.type}}
              </mat-option>
            </mat-select>
            </div>

        <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
               Numero du carnet : 
            </label>
            <input name="num_carnet" [(ngModel)]="soin[0].num_carnet" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>

        <div class="mb-6" style="width: 100%;">
          <label class=" block text-center text-gray-500 text-sm mb-2">
             Date valide : 
          </label>
          <input name="date_valide" [(ngModel)]="soin[0].date_valide" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>

          <!--<p-calendar  name="date_valide" [(ngModel)]="soin[0].date_valide" [showWeek]="true"></p-calendar>-->
      </div>
           
          <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
               Numero d'assurance : 
            </label>
            <input name="num_assure" [(ngModel)]="soin[0].num_assure" [placeholder]="soin[0].num_assure" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br><input value="{{montant}}" disabled class="itm"/> 
            <div  style="float: left; margin-left: 500px;">
              <button pButton pRipple type="submit" label="Payer" class="button-raised button-text text-black" style="background-color: #FFC909;margin:10px"></button>
            </div>
        </div>

        <!--si soin == null-->
        <div class="container" [hidden]="testsoin" style="width: 50%;">
              
          <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez vos informations</h3><br>
          
         <div class="mb-6" style="width: 100%;">
          <mat-form-field appearance="fill" style="width: 100%;" required>
            <mat-label>Régime </mat-label>
            <mat-select   [(ngModel)]="reg" name="regime">
              <mat-option *ngFor="let montant of montants" (click)="calculerMontant(montant.montant)" [selected]="montant.type" value="{{montant.regime}}">
                {{montant.type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         </div>
      
      <div class="mb-6" style="width: 100%;">
          <label class=" block text-center text-gray-500 text-sm mb-2">
             Numero du carnet : 
          </label>
          <input name="num_carnet" [(ngModel)]="numC" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>

      <div class="mb-6" style="width: 100%;">
        <label class=" block text-center text-gray-500 text-sm mb-2">
           Date valide : 
        </label>
        <p-calendar inputId="basic" name="date_valide" [(ngModel)]="dateV" ></p-calendar>
    </div>
         
        <div class="mb-6" style="width: 100%;">
          <label class=" block text-center text-gray-500 text-sm mb-2">
             Numero d'assurance : 
          </label>
          <input name="num_assure" [(ngModel)]="numA"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
    <div>
        <h3 style="font-weight:bold;color:#43cebb">Montant a payer :</h3><br><input value="{{montant}}" disabled class="itm"/> 
    </div>
          <div  style="float: left;margin:10px">
            <button pButton pRipple type="submit" label="Payer" class="button-raised button-text text-black" style="background-color: #FFC909;"></button>
      </div>
      </div>
        </div>
        </form>
  </p-card>
</div>
</div>
<div *ngIf="isup">
  <app-imprimer-recu [rdv]="rdv"></app-imprimer-recu>
  </div>
<app-footer></app-footer>