<app-navbar></app-navbar>
<p-toast position="top-right"></p-toast>
<hr style="background-color:  #FFC909;height: 3px;">

<div style="background-repeat: no-repeat;background-size: cover;">
<div class="container add">

   <mat-tab-group class="card wizard-card" mat-stretch-tabs style="opacity: 80%;">

       <mat-tab class="mat-tab-label.mat-tab-label-active" label="Patient">
           <form (ngSubmit)="SubmitPat()" [formGroup]="Patient">
        <div class="  row" >
          <div class="card-header container">
          <h4 class="card-title text-dark text-center">
          INFORMATIONS DU PATIENT
          </h4>
          </div>
          <div class="card-body ">
            <div class=" col-g-5" >
                <input type="hidden" pInputText formControlName="cod_benef"  required >

              <div class="form-group" >
                  <div class="p-field p-col-12 p-md-4">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">
                              <i class="pi pi-user"></i>
                          </span>
                          <span class="p-float-label">
                              <input type="text"  pInputText  formControlName="nom_pren_benef" pattern="[a-zA-Z]*">
                              <label for="nom">Nom</label>
                          </span>
                      </div>
                  </div>
                  <div *ngIf="nom_pren_benef.invalid && (nom_pren_benef.dirty || nom_pren_benef.touched)" class="alert alert-danger">
                    <div *ngIf="nom_pren_benef.errors.required">
                        Le nom est obligatoire
                    </div>
                    <div *ngIf="nom_pren_benef.errors.pattern">
                      Le nom doit etre alphabetique
                    </div>
                 </div>
                </div>

                <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="text" id="emp" pInputText  formControlName="pren_benef"  required pattern="[a-zA-Z]*">
                                  <label for="emp">Prénom</label>
                              </span>
                          </div>
                      </div>
                      <div *ngIf="pren_benef.invalid && (pren_benef.dirty || pren_benef.touched)" class="alert alert-danger">
                        <div *ngIf="pren_benef.errors.required">
                            Le prénom est obligatoire
                        </div>
                        <div *ngIf="pren_benef.errors.pattern">
                          Le prénom doit etre alphabetique
                        </div>
                     </div>
                    </div>

                      <div class="form-group" style="margin-left:25%">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span style="text-align:center" >
                                     <h3 >Sexe</h3>
                                    <p-radioButton  value="F" formControlName="sexe_benef"></p-radioButton>Femme
                                    <p-radioButton  value="M" formControlName="sexe_benef"></p-radioButton>Homme
                                </span>
                            </div>
                        </div>
                        <div *ngIf="sexe_benef.invalid && sexe_benef.dirty" class="alert alert-danger">
                          Le sexe est obligatoire
                      </div>
                       </div>

                          <div class="form-group">
                            <div class="p-field p-col-12 p-md-4">
                               <div  class="p-inputgroup" style="width: 100%;">
                                   <span style="height:37px" class="p-inputgroup-addon">
                                       <i class="pi pi-user"></i>
                                   </span>
                                   <p-calendar  placeholder="Date de naissance" formControlName="date_nai_benef" (click)='affiche(date_nai_benef)'  required ></p-calendar>
                               </div>
                           </div>
                           <div *ngIf="date_nai_benef.invalid && (date_nai_benef.dirty || date_nai_benef.touched)" class="alert alert-danger">
                            la date de naissance est obligatoire
                        </div>
                            </div>

                            <div class="form-group" style="width: 100%;">
                              <div class="p-field p-col-12 p-md-4" style="width: 100%;">
                                 <div  class="p-inputgroup" style="width: 100%;">
                                  <span style="height:51px" class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                     <mat-form-field style="width: 100%;" appearance="fill">
                                      <mat-label>Hopital</mat-label>
                                      <mat-select formControlName="cod_hop"  required>
                                        <mat-option *ngFor="let hopital of hopitals" [value]="hopital.cod_hop">
                                          {{hopital.nom_hop}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                 </div>
                             </div>
                             <div *ngIf="cod_hop.invalid && (cod_hop.dirty || cod_hop.touched)" class="alert alert-danger">
                              Veuillez choisir un hôpital
                          </div>
                              </div>

            </div>
          </div>
          <div class="card-body ">
              <div class=" col-g-12 ">


                <div class="form-group">
                  <div class="ui-inputgroup">
                    <span class="ui-float-label">
                      <label for="email">Importer Image :</label>
                     <!-- <p-fileUpload #fubauto mode="basic" formControlName="img" maxFileSize="1000000" (change)="onFileSelect($event)" [auto]="true" chooseLabel="Choisir une image"></p-fileUpload>-->
                    <!-- <p-fileUpload mode="basic" formControlName="img"  accept="image/*" maxFileSize="1000000" (change)="onFileSelect($event)" style="max-height: 100px;"></p-fileUpload>-->
                     <input  type="file" class="form-control" pInputText  accept="image/*" chooseLabel="Choisir une image" formControlName="img" (change)="onFileSelect($event)" maxFileSize="1000000" required >
                  </span>
                  </div>
                  </div>
                  <div *ngIf="img.invalid && (img.dirty || img.touched)" class="alert alert-danger">
                    l'image est obligatoire
                </div>
                <div *ngIf="validateImg" class="alert alert-danger">
                  L'image doit Être de type JPG où JPEG où png
                </div>

                           <div class="form-group">
                            <div class="p-field p-col-12 p-md-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-user"></i>
                                    </span>
                                    <span class="p-float-label">
                                        <input type="email" id="sec" pInputText  formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                        <label for="sec">Email</label>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                              <div *ngIf="email.errors.required">
                                  L'email est obligatoire
                              </div>
                              <div *ngIf="email.errors.pattern">
                                L'email est invalide
                              </div>
                           </div>
                          </div>

                          <div class="form-group">
                            <div class="p-field p-col-12 p-md-4">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-user"></i>
                                    </span>
                                    <span class="p-float-label">
                                        <input type="text" id="emp" pInputText  formControlName="tel_benef" pattern="[0-9]{8}" required>
                                        <label for="emp">Numero de telephone</label>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="tel_benef.invalid && (tel_benef.dirty || tel_benef.touched)" class="alert alert-danger">
                              <div *ngIf="tel_benef.errors.required">
                                  Le numero de telephone est obligatoire
                              </div>
                              <div *ngIf="tel_benef.errors.pattern">
                                Le numero de telephone est invalide
                              </div>
                           </div>
                          </div>

                    <p pButton pRipple label="confirmer" (click)="notify('est le code de confirmation de votre nouveau compte sur CIMS ',code)" style="width: 50%;margin-left: 25%;background-color: #FFC909;" class="text-black p-button-rounded"></p>
                   <div [hidden]="test">
                    <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                        <h2>Merci de vérifier dans votre boite e-mails <br> que vous avez reçu un message avec votre code.
                            <br/> Celui-ci est composé de 6 chiffres.</h2>
                            <h2>Nous avons envoyé votre code à : {{psseudo}}</h2>
                      </div>
              </div>
                    <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="text" id="se" pInputText  formControlName="code" required>
                                  <label for="sec"> Entrez le code</label>
                                  <br/>
                               <h4 (click)="envoiCode()" style="color:brown; "> Renvoyer le code </h4>
                              </span>
                          </div>
                      </div>
                      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
                        le code est obligatoire
                    </div>

                 <!-- <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="password" id="pass" pInputText [(ngModel)]="pass" name="password" #vle="ngModel" required >
                                <label for="pass">Mot de passe</label>
                            </span>
                        </div>
                    </div>
                  <div [hidden]="!vle.errors?.required || vle.pristine"
                class="alert alert-danger">
                Le mot de passe est un champ obligatoire
                </div></div>-->
            </div>
            <div  [ngStyle]="{'float':'right','margin':'20px'}">
                <button type="submit" style="background-color: #FFC909;color: black;"  pButton  label="Enregistrer" class="ui-button-success"></button>
              </div>
              </div>


              </div>

            </div>
        </div>
      </form> </mat-tab>
     </mat-tab-group>
</div></div>
