<div [ngStyle]="{backgroundImage:'url(../../../assets/b.jpg)'}" style="background-repeat: no-repeat;background-size: cover;">
<div class="container add">

   <mat-tab-group class="card wizard-card" mat-stretch-tabs style="opacity: 80%;">
       <mat-tab label="Medecin" >
      <form #f="ngForm"  (ngSubmit)="Submit(f)"> 
        <input type="hidden" pInputText [(ngModel)]="enabled" name="enabled"  required #t="ngModel">        
        <input type="hidden" pInputText [(ngModel)]="status" name="status"  required #st="ngModel"> 

          <div class="  row" >
            <div class="card-header container">
            <h4 class="card-title text-dark text-center">
            INFORMATIONS DU MEDECIN 
            </h4>
            </div>
            <div class="card-body ">
              <div class=" col-g-5" >
                <div class="form-group" >
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="Name" pInputText [(ngModel)]="name" name="nom_med" #nme="ngModel" required> 
                                <label for="Name">Nom</label>
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!nme.errors?.required || nme.pristine"
                  class="alert alert-danger">
                  Le nom est un champ obligatoire
                  </div></div>
                         
                  <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user" ></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="pren" pInputText [(ngModel)]="prenom" name="prenom_med" #pm="ngModel" required> 
                                <label for="pren">Prenom</label>
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!pm.errors?.required || pm.pristine"
                    class="alert alert-danger">
                    Le prenom est un champ obligatoire
                    </div></div>

                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <span class="p-float-label">
                                    <input type="text" id="c" pInputText [(ngModel)]="pseudo" name="pseudo" #cn="ngModel" required> 
                                    <label for="c">Pseudo</label>
                                </span>
                            </div>
                        </div>
                      <div [hidden]="!cn.errors?.required || cn.pristine"
                    class="alert alert-danger">
                    Le pseudo est un champ obligatoire
                    </div></div>

                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <span class="p-float-label">
                                    <input type="password" id="pass" pInputText [(ngModel)]="password" name="password" #vle="ngModel" required > 
                                    <label for="pass">password</label>
                                </span>
                            </div>
                        </div>
                      <div [hidden]="!vle.errors?.required || vle.pristine"
                    class="alert alert-danger">
                    Le password est un champ obligatoire
                    </div></div>

              </div> 
            </div>
            <div class="card-body ">
                <div class=" col-g-12 ">
                
                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <span class="p-float-label">
                                    <input type="email" id="mail" pInputText  [(ngModel)]="email" name="email" #ml="ngModel" required > 
                                    <label for="mail">email</label>
                                </span>
                            </div>
                        </div>
                        <div [hidden]="!ml.errors?.required || ml.pristine"
                        class="alert alert-danger">
                        L'email est un champ obligatoire
                        </div>
                       </div>
                      
                  <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="niv" pInputText [(ngModel)]="service" name="service" #nv="ngModel" required> 
                                <label for="niv">service</label>
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!nv.errors?.required || nv.pristine"
                    class="alert alert-danger">
                    Le service est un champ obligatoire
                    </div></div>
                  
                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <span class="p-float-label"> 
                                    <select name="cod_hop"  [(ngModel)]="codhop" required>
                                        <option *ngFor="let hopital of hopitals" value="{{hopital.cod_hop}}" style="width: 450px;">{{hopital.nom_hop}}</option>
                                    </select>
                                    <label for="tel">Hopital</label>
                                </span>
                            </div>
                        </div>
                      <!--<div [hidden]="!tl.errors?.required || tl.pristine"
                      class="alert alert-danger">
                      Le nom de l'hopital est un champ obligatoire
                      </div>-->
                     </div>
                   
                </div>
                <div  [ngStyle]="{'float':'right','margin':'20px'}"><!--[disabled]="f.invalid"-->
               <button type="submit"  pButton  label="Confirmer" class="ui-button-success"></button>
             </div>
              </div>
          </div> 
        </form> </mat-tab>

       <mat-tab label="Patient">
           <form #f1="ngForm"  (ngSubmit)="SubmitPat(f1)"> 
        <div class="  row" >
          <div class="card-header container">
          <h4 class="card-title text-dark text-center">
          INFORMATIONS DU Patient 
          </h4>
          </div>
          <div class="card-body ">
            <div class=" col-g-5" >
                
              <div class="form-group" >
                  <div class="p-field p-col-12 p-md-4">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon">
                              <i class="pi pi-user"></i>
                          </span>
                          <span class="p-float-label">
                              <input type="text" id="Name" pInputText [(ngModel)]="nom_pren_benef" name="nom_pren_benef" #nme="ngModel" required> 
                              <label for="Name">Nom</label>
                          </span>
                      </div>
                  </div>
                  <div [hidden]="!nme.errors?.required || nme.pristine"
                class="alert alert-danger">
                Le nom est un champ obligatoire
                </div></div>

                <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="text" id="emp" pInputText [(ngModel)]="pren_benef" name="pren_benef" #pnc="ngModel" required> 
                                  <label for="emp">Prenom</label>
                              </span>
                          </div>
                      </div>
                      <div [hidden]="!pnc.errors?.required || pnc.pristine"
                      class="alert alert-danger">
                      Le prenom est un champ obligatoire
                      </div></div>

                      <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="text" id="sec" pInputText [(ngModel)]="psseudo" name="pseudo" #cte="ngModel" required> 
                                  <label for="sec">Pseudo</label>
                              </span>
                          </div>
                      </div>
                    <div [hidden]="!cte.errors?.required || cte.pristine"
                  class="alert alert-danger">
                  Le pseudo est un champ obligatoire
                  </div></div>
                       
                  <div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="password" id="pass" pInputText [(ngModel)]="pass" name="password" #vle="ngModel" required > 
                                  <label for="pass">Mot de passe</label>
                              </span>
                          </div>
                      </div>
                    <div [hidden]="!vle.errors?.required || vle.pristine"
                  class="alert alert-danger">
                  Le mot de passe est un champ obligatoire
                  </div></div>

            </div> 
          </div>
          <div class="card-body ">
              <div class=" col-g-12 ">
              
                <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span style="text-align:center" >
                                 <h3 >Sexe</h3>
                                <p-radioButton name="sexe_benef" value="F" [(ngModel)]="sexe_benef"></p-radioButton>Femme
                                <p-radioButton name="sexe_benef" value="M" [(ngModel)]="sexe_benef"></p-radioButton>Homme
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!pnc.errors?.required || pnc.pristine"
                    class="alert alert-danger">
                    Le sexe est un champ obligatoire
                    </div></div>


                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <p-calendar [(ngModel)]="date_nai_benef" placeholder="Date de naissance" name="date_nai_benef"></p-calendar>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="emp" pInputText [(ngModel)]="tel_benef" name="tel_benef" #pnc="ngModel" required> 
                                <label for="emp">Numero de telephone</label>
                            </span>
                        </div>
                    </div>
                    <div [hidden]="!pnc.errors?.required || pnc.pristine"
                    class="alert alert-danger">
                    Le numero de telephone est un champ obligatoire
                    </div></div>

                    <!--<div class="form-group">
                      <div class="p-field p-col-12 p-md-4">
                          <div class="p-inputgroup">
                              <span class="p-inputgroup-addon">
                                  <i class="pi pi-user"></i>
                              </span>
                              <span class="p-float-label">
                                  <input type="text" id="des" pInputText [(ngModel)]="pren_pere_benef" name="pren_pere_benef" #desc="ngModel" required> 
                                  <label for="des">Prenom du pere</label>
                              </span>
                          </div>
                      </div>
                       <div [hidden]="!desc.errors?.required || desc.pristine"
                       class="alert alert-danger">
                       Le prenom du pere est un champ obligatoire
                       </div></div>

                       <div class="form-group">
                           <div class="p-field p-col-12 p-md-4">
                              <div class="p-inputgroup">
                                  <span class="p-inputgroup-addon">
                                      <i class="pi pi-user"></i>
                                  </span>
                                  <span class="p-float-label">
                                      <input type="text" id="ma" pInputText  [(ngModel)]="pren_mere_benef" name="pren_mere_benef" #mat="ngModel" required> 
                                      <label for="ma">Prenom du mere</label>
                                  </span>
                              </div>
                          </div>
                           <div [hidden]="!mat.errors?.required || mat.pristine"
                           class="alert alert-danger">
                           Le prenom du mere est un champ obligatoire
                           </div>
                           </div>-->

                           <div class="form-group">
                            <div class="p-field p-col-12 p-md-4">
                               <div class="p-inputgroup">
                                   <span class="p-inputgroup-addon">
                                       <i class="pi pi-user"></i>
                                   </span>
                                   <span class="p-float-label">
                                    <select name="cod_hop"  [(ngModel)]="codhop" required>
                                        <option *ngFor="let hopital of hopitals" value="{{hopital.cod_hop}}" style="width: 450px;">{{hopital.nom_hop}}</option>
                                    </select>
                                   <label for="ma">Hopital</label>
                                   </span>
                               </div>
                           </div>
                            </div>
                    
                 
              </div>
              <div  [ngStyle]="{'float':'right','margin':'20px'}">
             <button type="submit"  pButton  label="Confirmer" class="ui-button-success"></button>
           </div>
            </div>
        </div> 
      </form> </mat-tab>

       <mat-tab label="Pharmacien">
         <form #f2="ngForm"  (ngSubmit)="SubmitUser(f2)">    
            <input type="hidden" pInputText [(ngModel)]="status" name="status"  required #st="ngModel"> 
            <input type="hidden" pInputText [(ngModel)]="enabled" name="enabled"  required #en="ngModel"> 
          <div class="  row" >
            <div class="card-header container">
            <h4 class="card-title text-dark text-center">
            INFORMATIONS DU PHARMACIEN 
            </h4>
            </div>
            <div class="card-body ">
              <div class=" col-g-5" >
                  
                <div class="form-group">
                    <div class="p-field p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="sec" pInputText [(ngModel)]="psdo" name="pseudo" #cte="ngModel" required> 
                                <label for="sec">Pseudo</label>
                            </span>
                        </div>
                    </div>
                  <div [hidden]="!cte.errors?.required || cte.pristine"
                class="alert alert-danger">
                Le pseudo est un champ obligatoire
                </div></div>

              </div> 
            </div>

            <div class="card-body ">
                <div class=" col-g-12 ">
                  
                    <div class="form-group">
                        <div class="p-field p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-user"></i>
                                </span>
                                <span class="p-float-label">
                                    <input type="password" id="pass" pInputText [(ngModel)]="pas" name="password" #vle="ngModel" required > 
                                    <label for="pass">Mot de passe</label>
                                </span>
                            </div>
                        </div>
                      <div [hidden]="!vle.errors?.required || vle.pristine"
                    class="alert alert-danger">
                    Le mot de passe est un champ obligatoire
                    </div></div>
                   
                </div>
                <div  [ngStyle]="{'float':'right','margin':'20px'}">
               <button type="submit"  pButton  label="Confirmer" class="ui-button-success"></button>
             </div>
              </div>
          </div> 
        </form> </mat-tab>
<!--[disabled]="f.invalid"-->
     </mat-tab-group>
</div></div>
