
<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

  <div style="width: 100%;" class=" container main-body">

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center"><!--https://bootdey.com/img/Content/avatar/avatar7.png-->
                  <img src="../../assets/user.jpg" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3" *ngIf="role=='M'">
                    <h4>Dr {{user.nom_med}} {{user.prenom_med}} </h4>
                    <p class="text-secondary mb-1"> {{user.specialite}} </p>
                    <p class="text-muted font-size-sm">Dans le service {{user.service}} </p>
                    <!--<button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button>-->
                  </div>
                  <div class="mt-3" *ngIf="role=='P'">
                    <h4>{{user.nom_pren_benef}} {{user.pren_benef}} </h4>
                    <p class="text-secondary mb-1"> {{user.sexe}} </p>
                    <p class="text-muted font-size-sm">Né le {{user.date_nai_benef | date: 'dd/MM/yyyy'}} </p>
                    <!--<button class="btn btn-primary">Follow</button>
                    <button class="btn btn-outline-primary">Message</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3" style="height: 50vh;">
               <div class="wizard">
                <nav class="list-group list-group-flush">
                  <button class="list-group-item" *ngIf="role=='M'" (click)="renderList()">
                    <div class="d-flex justify-content-between align-items-center">
                        <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                          <div  class="d-inline-block font-weight-medium text-uppercase">liste des patients</div>
                        </div><!--<span class="badge badge-secondary">6</span>-->
                    </div>
                </button>
                    <button class="list-group-item" *ngIf="role=='P'" (click)="historique()">
                      <div class="d-flex justify-content-between align-items-center">
                          <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                            <div *ngIf="role=='P'" class="d-inline-block font-weight-medium text-uppercase">Historique du paiement </div>
                          </div><!--<span class="badge badge-secondary">6</span>-->
                      </div>
                  </button>
                    <button class="list-group-item active" style="background-color: #43cebb;" (click)="editer()"><i class="fe-icon-user text-muted"></i>Parametre du profile</button>
                    <button type="button" class="list-group-item" *ngIf="role!='A'" (click)="render()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase" >Liste des rendez-vous</div>
                            </div><!--<span class="badge badge-secondary">3</span>-->
                        </div>
                    </button>
                    <!--<a class="list-group-item" href="#">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">My Tickets</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>-->
                </nav>
            </div>
            </div>
          </div>
          <div class="col-md-8">
            <p-toast position="top-right"></p-toast>

            <div class="card mb-3" ><!-- [hidden]="prof"  </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">-->
              <div class="card-body">
               <app-liste-rdv *ngIf="test"></app-liste-rdv>
               <app-liste-patient *ngIf="pat"></app-liste-patient>
               <app-historique-paie *ngIf="hist"></app-historique-paie>

               <div *ngIf="role=='A' && edit" >
                <form #f="ngForm" (ngSubmit)="Submit(f)" class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Nom</label>
                            <input class="form-control" type="text" id="account-fn"   name="nom_phar" [(ngModel)]="user.nom_phar" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Prenom</label>
                            <input class="form-control" type="text" id="account-ln" name="prenom_phar" [(ngModel)]="user.prenom_phar">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-email">E-mail </label>
                            <input class="form-control" type="email" id="account-email" name="email" [(ngModel)]="user.email" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        </div>
                        <br>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf = "email.errors?.pattern && email.touched">
                        email invalide
                      </div>
                    </div>
                      </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-pass">Nouveau Mot de passe</label>
                            <input class="form-control" name="password" [(ngModel)]="pass" [placeholder]="user.password" type="password" id="account-pass" #userPassword="ngModel"  minlength="8" >
                        </div>
                        <br>
                    <div *ngIf="userPassword.touched"  class="alert alert-danger">
                    <div *ngIf = "userPassword.invalid;">
                      veillez saisir un mot de passe de 8 charachteres
                    </div>
                     </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-confirm-pass">Confirmer Mot de passe</label>
                            <input name="pass" [(ngModel)]="mdp"  class="form-control" type="password" id="account-confirm-pass"  minlength="8" >
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">

                            <!--<div class="custom-control custom-checkbox d-block">
                                <input class="custom-control-input" type="checkbox" id="subscribe_me" checked="">
                                <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
                            </div>-->
                            <button class="btn btn-style-1"  [disabled]="!f.valid"  style="background-color: #43cebb;color: white;float: right;" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Mettre a jour</button>

                    </div>
                </form>
              </div>

               <div *ngIf="role=='M' && edit" >
                <form #f="ngForm" (ngSubmit)="Submit(f)" class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-fn">Nom</label>
                            <input class="form-control" type="text" id="account-fn"   name="nom_med" [(ngModel)]="user.nom_med" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-ln">Prenom</label>
                            <input class="form-control" type="text" id="account-ln" name="prenom_med" [(ngModel)]="user.prenom_med">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-email">E-mail </label>
                            <input class="form-control" type="email" id="account-email" name="email" [(ngModel)]="user.email" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        </div>
                        <br>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf = "email.errors?.pattern && email.touched">
                        email invalide
                      </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-phone">Capacité</label>
                            <input class="form-control"  name="capacite" type="text" [(ngModel)]="user.capacite" id="account-phone" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-pass">Nouveau Mot de passe</label>
                            <input class="form-control" name="password" [(ngModel)]="pass" [placeholder]="user.password" type="password" id="account-pass"  #userPassword="ngModel" minlength="8" >
                        </div><br>
                        <div *ngIf="userPassword.touched" class="alert alert-danger">
                        <div *ngIf = "userPassword.invalid; ">
                          veillez saisir un mot de passe de 8 charachteres
                        </div>
                         </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="account-confirm-pass">Confirmer Mot de passe</label>
                            <input name="pass" [(ngModel)]="mdp"  class="form-control" type="password" id="account-confirm-pass"  minlength="8" >
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">

                            <!--<div class="custom-control custom-checkbox d-block">
                                <input class="custom-control-input" type="checkbox" id="subscribe_me" checked="">
                                <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
                            </div>-->
                            <button class="btn btn-style-1" [disabled]="!f.valid"   style="background-color: #43cebb;color: white;float: right;" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Mettre a jour</button>

                    </div>
                </form>
              </div>

              <div *ngIf="role=='P' && edit"  >
                <form #f="ngForm" (ngSubmit)="Submit(f)" class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-fn">Nom</label>
                      <input class="form-control" type="text" id="account-fn"   name="nom_pren_benef" [(ngModel)]="user.nom_pren_benef" >
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-ln">Prenom</label>
                      <input class="form-control" type="text" id="account-ln" name="pren_benef" [(ngModel)]="user.pren_benef">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-email">E-mail </label>
                      <input class="form-control" type="email" id="account-email" name="email" [(ngModel)]="user.email" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  </div><br>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf = "email.errors?.pattern && email.touched">
                      email invalide
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-phone">Numero de telephone</label>
                      <input class="form-control"  name="tel_benef" type="tel" [(ngModel)]="user.tel_benef" id="account-phone" #numtel="ngModel" pattern="[0-9]{8}">
                  </div><br>
                  <div *ngIf="numtel.invalid && (numtel.dirty || numtel.touched)" class="alert alert-danger">
                    <div *ngIf = "numtel.errors?.pattern && numtel.touched">
                      numero de telephone invalide
                    </div>
                  </div>
              </div>

              <div class="col-12">
                <hr class="mt-2 mb-3">
                    <!--<div class="custom-control custom-checkbox d-block">
                        <input class="custom-control-input" type="checkbox" id="subscribe_me" checked="">
                        <label class="custom-control-label" for="subscribe_me">Subscribe me to Newsletter</label>
                    </div>-->
                    <button class="btn btn-style-1" [disabled]="!f.form.valid"  style="background-color: #43cebb;float: right; color: white" type="submit" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Mettre a jour</button>
            </div>
              </form>
              </div>

              </div>
            </div>

          </div>
        </div>
      </div>

  <app-footer></app-footer>
