 <!-- Navbar Transparent -->
 <nav class="navbar navbar-expand-lg" style="background-color: #AAE7E8;">
    <div class="container">
        <div class="navbar-translate">
            <img src="assets/cims.jpg" alt="" style="float:left">
            <a class="navbar-brand" [routerLink]="['../Home']">Cims</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-transparent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['../Home']">
                        <p>Accueil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['../ListeHopital']">
                        <i class="fa fa-twitter"></i>
                        <p> Prise de Rendez-vous </p>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar Transparent-->