<p-dialog header="Ajouter medicament" class="edit" appendTo="body" [(visible)]="display" modal="modal" [style]="{width: '40vw'}" [responsive]="true">
  <form class="card box-shadow" #f="ngForm" [formGroup]="Medic">
    <h1 style="color: #43cebb;">Information du medicament </h1>
    <input class="form-control" type="hidden" pInputText  formControlName="cod_hop"     required>

    <!--<input type="hidden" name="cod_benef" [(ngModel)])="rdv.cod_benef" />
    <input type="hidden" name="cod_med" [(ngModel)])="rdv.cod_med" />-->
   <div class="form-group">
      <div class="ui-inputgroup"> 
        <span class="ui-float-label">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <label for="rdv Name">Nom du medicament :</label>
          <input id="rdv Name" class="form-control" type="text" pInputText  formControlName="nom_medic"  required>
        </span>

    </div>
      </div>
      <div class="form-group">
        <div class="ui-inputgroup">
          <span class="ui-float-label">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <label for="adrs">Description du medicament :</label>
            <input id="adrs" class="form-control" type="text" pInputText  formControlName="desc_medic" required>
        </span>

      </div>
        </div>

        <div class="form-group">
          <div class="ui-inputgroup">
            <span class="ui-float-label">
              <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
              <label for="adrs">Quantité dispnible :</label>
              <input id="adrs" class="form-control" type="text" pInputText  formControlName="quantite" required>
            </span>

        </div>
          </div>
         <h1 style="color: #43cebb;">Plus de detail </h1>
    <div class="form-group">
      <div class="ui-inputgroup">
        <span class="ui-float-label">
          <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
          <label for="email">Importer Image :</label>
          <input id="email" type="file" class="form-control" pInputText  formControlName="img_medic" (change)="onFileSelect($event)" required >


      </span>
      </div>
          </div>
 
  </form>
    <p-footer>
      <button type="submit" pButton icon="pi pi-check" style="float:left" (click)="onEnvoyer(f)" label="Enregistrer"></button>
      <button type="button" (click)="closeModal()" pButton style="float:right" label=" Retour"></button>
    </p-footer>
</p-dialog>

