<p-dialog header="Ajouter medicament" class="edit" appendTo="body" [(visible)]="display" modal="modal" [style]="{width: '40vw'}" [responsive]="true">
  <form class="card box-shadow" #f="ngForm" (ngSubmit)="onEnvoyer()" [formGroup]="Medic">
    <h1 style="color: #43cebb;margin: 5px;">Information du medicament </h1>
    <input class="form-control" type="hidden" pInputText  formControlName="cod_hop" required>

    <div class="form-group" >
      <div class="p-field p-col-12 p-md-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-check-square"></i>
              </span>
              <span class="p-float-label">
                  <input type="text"  pInputText  formControlName="nom_medic" pattern="[a-zA-Z]*" required>
                  <label for="nom">Nom du médicament</label>
              </span>
          </div>
      </div>
      <div *ngIf="nom_medic.invalid && (nom_medic.dirty || nom_medic.touched)" class="alert alert-danger ">
        <div *ngIf="nom_medic.errors.required">
          Le nom du médicament est obligatoire
        </div>
        <div *ngIf="nom_medic.errors.pattern">
          Le nom du médicament doit etre alphabetique
        </div>
     </div>
    </div>

    <div class="form-group" >
      <div class="p-field p-col-12 p-md-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-check-square"></i>
              </span>
              <span class="p-float-label">
                  <input type="text"  pInputText  formControlName="desc_medic" pattern="[a-zA-Z]*" required>
                  <label for="nom">Description du médicament</label>
              </span>
          </div>
      </div>
      <div *ngIf="desc_medic.invalid && (desc_medic.dirty || desc_medic.touched)" class="alert alert-danger">
        <div *ngIf="desc_medic.errors.required">
          La description du médicament est obligatoire
        </div>
        <div *ngIf="desc_medic.errors.pattern">
          La description du médicament doit etre alphabétique
        </div>
     </div>
    </div>

    <div class="form-group" >
      <div class="p-field p-col-12 p-md-4">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-check-square"></i>
              </span>
              <span class="p-float-label">
                  <input type="text"  pInputText  formControlName="quantite" pattern="[0-9]*" required>
                  <label for="nom">La quantité du médicament</label>
              </span>
          </div>
      </div>
      <div *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)" class="alert alert-danger">
        <div *ngIf="quantite.errors.required">
          La quantité du médicament est obligatoire
        </div>
        <div *ngIf="quantite.errors.pattern">
          La quantité du médicament doit être alphabetique
        </div>
     </div>
    </div>

  <h1 style="color: #43cebb;margin: 5px;">Plus de détail </h1>
    <div class="form-group">
      <div class="p-field p-col-12 p-md-4">
        <label for="nom">Importer Image du médicament</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-check-square"></i>
            </span>
              <input id="email" type="file" class="form-control" pInputText  formControlName="img_medic" (change)="onFileSelect($event)" required >
        </div>
    </div>
      <div *ngIf="img_medic.invalid && (img_medic.dirty || img_medic.touched)" class="alert alert-danger">
        <div *ngIf="img_medic.errors.required">
          L'image du médicament est obligatoire
        </div>
        <div *ngIf="validateImg" class="alert alert-danger">
          L'image doit Être de type JPG où JPEG où png
        </div>
          </div>
          </div>

    <p-footer>
      <button pButton pRipple style="background-color: #FFC909;float: right; "  pButton pRipple class="text-black button-raised button-text p-button-rounded"
      type="submit" label="Enregistrer" icon="pi pi-check"></button>
      <button pButton pRipple style="background-color: #FFC909;float: left;" pButton pRipple class="text-black button-raised button-text p-button-rounded"
      type="button" label="Retour"  (click)="closeModal()"></button>
    </p-footer>
  </form>

</p-dialog>

