<app-navbar [user]="user"></app-navbar>
<hr style="background-color:  #FFC909;height: 3px;">

<div style="margin:5%;">
  <h1 style="margin-top: 10px;margin-left: 60px; ">Fixer le rendez-vous de votre prochaine consultation avec votre patient</h1>
<div class="container" style=" background-color: rgb(168, 211, 211);">
  <p-card style="margin-top: 20px; ">
    <p-toast position="top-right"></p-toast>
    <form #f="ngForm"  (ngSubmit)="Submit(f)">
        <!--patient-->
        <div style="margin:2%;">
          <h5 style="font-weight: bold; font-size: 24px;color:#43cebb; font-family: Arial, Helvetica, sans-serif;text-align: center;margin-top: 2%;">Choisir une date et une heure disponible </h5>
          <div style="display: flex;margin-top:3%;">
            <img src="../../assets/rdv.jpg" style="width: 40%;height: 35%;float: left;"/>
               <p-calendar style="float: right;margin-left: 10%;margin-top: 4%;" name="date_rdv" [(ngModel)]="date" (click)="affiche(date)" [inline]="true" [showWeek]="true"></p-calendar>
          <input type="hidden" name="endTime" [(ngModel)]="date"  />
</div>
          <div [hidden]=test class="row">
              <mat-form-field appearance="fill" style="width: 50%; padding: 15px;margin-left: 25%;" >
                  <mat-label>Choisissez l'heure du rendez-vous</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                    <mat-option *ngFor="let heur of tab " [value]="heur" (click)="afficher()">
                      {{heur}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
      </div>

        <div [hidden]=res>
            <div class="container" style="width: 50%;">
            <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez l'index du patient concerné</h3><br>
              <input type="hidden" name="cod_med" [(ngModel)]="medecin._id" />
              <input type="hidden" name="service" [(ngModel)]="medecin.service" />
              <input type="hidden" name="cod_hop" [(ngModel)]="medecin.cod_hop" />

              <input type="hidden" name="etat" [(ngModel)]="eta" />
          <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
              Saisir Index :
            </label>
            <input name="cod_benef" [(ngModel)]="codben" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
            <div  style="float: left; margin-left: 500px;">
              <button pButton pRipple style="background-color: #FFC909;margin:10px;" pButton pRipple class="text-black button-raised button-text p-button-rounded"
              type="submit" label="Confirmer" icon="pi pi-calendar-plus"></button>
          </div>
          </div>

        <!--<div class="mb-6" style="width: 100%;">
          <label class=" block text-center text-gray-500 text-sm mb-2">
            Numero de telephone :
          </label>
          <input name="gsm" [(ngModel)]="tel" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>-->

        </div>
        </div>
      </form>

  </p-card>
</div>
</div>

<app-footer></app-footer>
