<app-navbar [user]="user"></app-navbar>
<hr style="border: 3px solid rgb(194, 194, 45);">
<div class="container" style=" background-color: rgb(168, 211, 211);margin:5%;">
 
  <p-card style="margin-top: 20px; ">
    <p-toast position="top-right"></p-toast>
    <form #f="ngForm"  (ngSubmit)="Submit(f)">

        <!--patient-->
        <div style="margin:2%;">
          <h5 style="font-weight: bold; font-size: 24px;color: rgb(40, 68, 67); font-family: Arial, Helvetica, sans-serif;text-align: center;">Choisir une date et heur disponible </h5>
          <p-calendar style="margin-left: 30%;" name="date_rdv" [(ngModel)]="date" (click)="affiche(date)" [inline]="true" [showWeek]="true"></p-calendar>
        
          <div [hidden]=test class="row">
              <mat-form-field appearance="fill" style="width: 50%; padding: 15px;margin-left: 25%;" >
                  <mat-label>Choisissez l'heure du rendez-vous</mat-label>
                  <mat-select [(ngModel)]="selectedValue" name="heure_rdv">
                    <mat-option *ngFor="let heur of tab " [value]="heur" (click)="afficher()">
                      {{heur}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
        </div>
      </div>

        <div [hidden]=res>
            <div class="container" style="width: 50%;">
            <h3 style="color: black;font-weight: bold;text-align: center;">Saisissez les informations du patient concerné</h3><br>
              <input type="hidden" name="cod_med" [(ngModel)]="medecin._id" />
              <input type="hidden" name="service" [(ngModel)]="medecin.service" />
              <input type="hidden" name="cod_hop" [(ngModel)]="medecin.cod_hop" />

              <input type="hidden" name="etat" [(ngModel)]="eta" />
          <div class="mb-6" style="width: 100%;">
            <label class=" block text-center text-gray-500 text-sm mb-2">
              Saisir Index : 
            </label> 
            <input name="cod_benef" [(ngModel)]="codben" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>

        <div class="mb-6" style="width: 100%;">
          <label class=" block text-center text-gray-500 text-sm mb-2">
            Numero de telephone : 
          </label>
          <input name="gsm" [(ngModel)]="tel" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
          <div  style="float: left; margin-left: 500px;">
            <button pButton pRipple type="submit" label="Confirmer" class="p-button-raised p-button-success p-button-text"></button>
        </div>
        </div>

        </div>
        </div>
      </form>

  </p-card>
</div>
  
<app-footer></app-footer>